@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean');

* {
  user-select: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

a {
  color: #4c6ef5;
  text-decoration: none;
}
